    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="lead" style="text-align:left;padding:2px">
              <p>本系以培育生物資源科學人才為目的，教學理念上注重理論與實務並重，
                建立學生研究<a href="">生物多樣性</a>、生物與環境關係及生物資源特性之基礎，
                培養學生熟悉生物多樣性、物種及生存環境特性、保育珍稀物種與復育理論，
                使具有了解環境變異，保護環境與資源利用價值之能力，用以監測環境及生物多樣性，
                進而尋求永續利用生物資源的方法。本系教育目標如下： </p>
                <ul style="text-align:left">
                      <li> 奠定學生生命科學基礎研究之專業能力</li>
                      <li> 培養學生生物多樣性保育與生物資源永續利用之專業知能</li>
                      <li> 強化學生團隊合作與全方位學習之能力</li>
                      <li> 培育學生成為術德兼備、追求卓越與創新之人才</li>
                </ul>
            <h2>系所特色</h2> 
            <p>我們是一群愛好野外的生態研究工作者，系上老師包含了脊椎動物、無脊椎動物、維管束植物分類及生態領域，
            和一般在實驗室研究的系所不同，我們有許多野外的實習課程，像是
            「<a href="https://web085003.adm.ncyu.edu.tw/pub_tagoutline.aspx?tagid=10513520136&WebPid1=" target="_blank">本地植物學及實習</a>」、
            「<a href="https://web085003.adm.ncyu.edu.tw/pub_tagoutline.aspx?tagid=10423520134&WebPid1=" target="_blank">生物資源取樣及調查技術實習</a>」、
            「<a href="https://web085003.adm.ncyu.edu.tw/pub_tagoutline.aspx?tagid=10523520189&WebPid1=" target="_blank">鳥類學</a>」、
            「<a href="https://web085003.adm.ncyu.edu.tw/pub_tagoutline.aspx?tagid=10423520126&WebPid1=" target="_blank">脊椎動物學</a>」等課程，配合嘉義
地區鄰近阿里山區、玉山國家公園、鰲鼓溼地等可就近實習。</p>
            </div>

        </div>
    </section>
