<section id="joinus">
   <div class="container">
       <h1>加入我們！</h1>
        對我們生資系有興趣嗎？來看看我們的入學管道
        <div class="row">
        <div class="col-md-6">
          <h2>我想念生資系！</h2>
          <p>
          你可以透過推薦甄試、指考或特殊選才等方式入學。
          Lorem ipsum dolor sit amet, quo ut ferri adhuc quidam, eum ad maiorum albucius constituto. Eu ullum zril perfecto sea, quo soleat doming epicuri ad. Harum volumus at ius, molestiae cotidieque eum in. Cu modo dolorum expetenda qui, nec id molestie definitionem. Ei clita eleifend molestiae his, electram forensibus sea ne.

          Ad vim sint omnis, ius ei nonumy postea, nusquam maluisset instructior ei his. Nostrum abhorreant qui no, te est aeque iisque malorum, sit hendrerit deseruisse conclusionemque ea. Eu nam velit invidunt. Quo ut ceteros consetetur, quo at epicuri sadipscing, dicta mazim essent no est. Electram assentior no quo, vel ei commune noluisse.

          </p>
        </div>
        <div class="col-md-6">
          <h2>我想繼續念研究所</h2>
          <p>
          Lorem ipsum dolor sit amet, quo ut ferri adhuc quidam, eum ad maiorum albucius constituto. Eu ullum zril perfecto sea, quo soleat doming epicuri ad. Harum volumus at ius, molestiae cotidieque eum in. Cu modo dolorum expetenda qui, nec id molestie definitionem. Ei clita eleifend molestiae his, electram forensibus sea ne.

          Ad vim sint omnis, ius ei nonumy postea, nusquam maluisset instructior ei his. Nostrum abhorreant qui no, te est aeque iisque malorum, sit hendrerit deseruisse conclusionemque ea. Eu nam velit invidunt. Quo ut ceteros consetetur, quo at epicuri sadipscing, dicta mazim essent no est. Electram assentior no quo, vel ei commune noluisse.
          </p>
        </div>
      </div>
</section>

