<section id="testimonial">
<!-- Page Content -->
{% for post in site.categories.testimonial reversed %}
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                    {{ post.output }}
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive img-circle" src="img/post/{{ post.img }}" alt=""><br/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
{% endfor %}
</section>
